[submodule "ddb_data"]
	path = ddb_data
	url = https://github.com/DroneDB/ddb_data
[submodule "vendor/exiv2"]
	path = vendor/exiv2
	url = https://github.com/DroneDB/exiv2
[submodule "vendor/untwine"]
	path = vendor/untwine
	url = https://github.com/pierotofy/untwine/
